{% extends "base.html" %}
{% load widget_tweaks %}

{% comment %}   Main page to authenticate users. {% endcomment %}
{% block head %}
  <title>Django Mysite | Login</title>
{% endblock %}

{% block body %}
  <section style="padding-top: 50px;">
    {% if form.errors %}
      <p>Your username and password didn't match, please try again.</p>
    {% endif %}

  <form method="post">
      {% csrf_token %}
      <p>
        {{ form.username | add_class:"self-input" |attr:"placeholder:username" }}
      </p>
      <p>
        {{ form.password | add_class:"self-input" |attr:"placeholder:password"}}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/portal/" />
      {% endif %}
      <input type="submit" class="self-btn" value="login" />
    </form>
  </section>
{% endblock %}
