{% extends "selfzone/base.html" %}
{% load widget_tweaks %}

{% comment %}   Main page to register users. {% endcomment %}
{% block head %}
  <title>Django Mysite | Login</title>
{% endblock %}

{% block body %}
  <section style="padding-top: 50px;">

  <form method="post">
      {% csrf_token %}
      <p>
        {{ form.username |attr:"placeholder:username" }}<br>
        {{ form.username.errors.as_text }}
      </p>
      <p>
        {{ form.password1 |attr:"placeholder:password"}}<br>
        {{ form.password1.errors.as_text }}
      </p>
      <p>
        {{ form.password2 |attr:"placeholder:password"}}<br>
        {{ form.password2.errors.as_text }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/portal/" />
      {% endif %}
      <input type="submit" class="self-btn" value="Register" />
    </form>
  </section>
{% endblock %}
