{% extends "selfzone/panel/portal.html" %}
{% load mathfilters %}

{% comment %}   Welcome page of the panel. {% endcomment %}
{% block title %}   Portal {% endblock %}
{% block content %}

    <h2 xmlns="http://www.w3.org/1999/html">Welcome, {{ user.username | capfirst }}</h2>

    <a href="{% url 'selfzone:index' %}">
        <button type="button" class="self-btn" style="margin: 20px">vote</button>
    </a>

    <a href="{% url 'selfzone:upload' %}">
        <button type="button" class="self-btn" style="margin: 20px">upload</button>
    </a>

    <a href="{% url 'selfzone.panel:logout_view' %}">
        <button type="button" class="self-btn" style="margin: 20px">logout</button>
    </a>

    {% if selfies %}

    <div class="row">
        <div class="col-md-6">
        <div class="best-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ today_best.selfie.photo.url }}"></a>
            <br>
            Best today score
        </div>
            <div class="worst-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ today_worst.selfie.photo.url }}"></a>
            <br>
            Worst today score
        </div>
        </div>

        <div class="col-md-6">
        <div class="best-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ week_best.photo.url }}"></a>
            <br>
            Best week score
        </div>
            <div class="worst-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ week_worst.photo.url }}"></a>
            <br>
            Worst week score
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        <div class="best-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ max_imt.s.photo.url }}"></a>
            <br>
            Best improving
        </div>
        <div class="worst-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ min_imt.s.photo.url }}"></a>
            <br>
            Worst improving
        </div>
        </div>

        <div class="col-md-6">
        <div class="best-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ max_first.selfie.photo.url }}"></a>
            <br>
            Best first day score  <br>{{ max_first.date }}
        </div>
            <div class="worst-stat panel-stats">
            <img class="new-img" style="width: 100%;" src="{{ min_first.selfie.photo.url }}"></a>
            <br>
            Worst first day score <br>{{ min_first.date }}
        </div>
        </div>
    </div>

    <br>

    <div class="row">
    <div class="col-md-6" style="vertical-align: middle">
        <h3>Your selfies:</h3>
    </div>

    <div class="col-md-6" style="vertical-align: middle">
    order by
    <form enctype="multipart/form-data" method="post" id="order">
        {% csrf_token %}
        <select name="menu" onchange="this.form.submit()">
        <option value="0" {%if request.get_full_path|slice:"-6:" == "/score"%}selected{% endif %}> score </option>
        <option value="1" {%if request.get_full_path|slice:"-6:" == "/older"%}selected{% endif %}> older </option>
        <option value="2" {%if request.get_full_path|slice:"-6:" == "/newer"%}selected{% endif %}> newer </option>
        </select>
    </form>
    </div>
    </div>

    <div class="photos">
        {% for s in selfies %}
            <a href="{% url 'selfzone:details' s.s.id %}">
                <figure>
                    <img src="{{ s.s.photo.url }}">
                    <div class="status-bar">
                        <div class="win-bar" style="width:calc({{s.w}}% + 1px)"></div>
                        <div class="loss-bar" style="width:calc({{ s.w | add:-100 | abs }}% + 1px)"></div>
                    </div>
                    <div class="pos-badge">
                        <div class="pos-num"> {{ s.s.get_position }}°</div>
                        {% if s.imt > 0 %}
                            <div class="arrow-up"></div>
                        {% elif s.imt < 0 %}
                            <div class="arrow-down"></div>
                        {% endif %}
                    </div>
                </figure>
            </a>
        {% endfor %}
    </div>
    {% else %}
        <br> <h3>no selfies uploaded yet</h3> <br><br>
    {% endif %}
{% endblock %}