{% extends "portal/portal.html" %}
{% comment %}   Welcome page of the portal. {% endcomment %}
{% block title %}   Portal {% endblock %}
{% block content %}

    <h2>Welcome, {{ user.username | capfirst }}</h2>

    <a href="{% url 'selfzone:index' %}">
        <button type="button" class="self-btn" style="margin: 20px">vote</button>
    </a>

    <a href="{% url 'selfzone:upload' %}">
        <button type="button" class="self-btn" style="margin: 20px">upload</button>
    </a>

    <a href="{% url 'logout_view' %}">
        <button type="button" class="self-btn" style="margin: 20px">logout</button>
    </a>

    <br>
    <div class="photos">
        {% for s in selfies %}
            <a href="{% url 'selfzone:details' s.id %}"><img

                    src="{{ s.photo.url }}"></a>
        {% endfor %}
    </div>
{% endblock %}