{% extends "portal/portal.html" %}
{% load mathfilters %}

{% comment %}   Welcome page of the portal. {% endcomment %}
{% block title %}   Portal {% endblock %}
{% block content %}

    <h2 xmlns="http://www.w3.org/1999/html">Welcome, {{ user.username | capfirst }}</h2>

    <a href="{% url 'selfzone:index' %}">
        <button type="button" class="self-btn" style="margin: 20px">vote</button>
    </a>

    <a href="{% url 'selfzone:upload' %}">
        <button type="button" class="self-btn" style="margin: 20px">upload</button>
    </a>

    <a href="{% url 'logout_view' %}">
        <button type="button" class="self-btn" style="margin: 20px">logout</button>
    </a>

    <br>


    <div class="photos">
        {% for s in selfies %}
            <a href="{% url 'selfzone:details' s.s.id %}">
                <img src="{{ s.s.photo.url }}">
                <div class="status-bar">
                    <div class="win-bar" style="width:{{s.w}}%"></div>
                    <div class="loss-bar" style="width:{{ s.w | add:-100 | abs }}%"></div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}