{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
{% endblock %}


{% block body %}
    <div class="row" style="padding-top: 25px">
        <div class="col-sm-4"><img class="new-img" style="width: 80%;" src="{{ selfie.photo.url }}"></div>
    </div>
    <div class="row" style="margin-top: 25px">
        <div class="col-sm-8">
            <h3>match trend:</h3>
            <div style="width: 100%;">{{ chart.as_html }}</div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3>easy:</h3>
            {% if easy != None %}
            <a href="{% url 'selfzone:details' easy.id %}">
            <img class="new-img" style="width: 80%;" src="{{ easy.photo.url }}"></a>
            {% endif %}
        </div>
        <div class="col-sm-3 col-xs-6">
            <h3>nightmare:</h3>
            {% if nightmare != None %}
            <a href="{% url 'selfzone:details' nightmare.id %}">
            <img class="new-img" style="width: 80%;" src="{{ nightmare.photo.url }}"></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
        tags:
            {% for t in selfie.tags.all %}
                {{ t.tag }}{% if forloop.counter != selfie.tags.count %},{% endif %}
            {% endfor %}
        </div>
    </div>

    <br>
    <div class="row" style="max-height: 10%">
        <div class="col-sm-2"> <h2>lasts matches: </h2> </div>
        <div class="col-sm-10">
            {% for s in lasts %}
                <a href="{% url 'selfzone:details' s.selfie.id %}"><img
                        class="last-img pull-left" style="background:{{ s.color }};"
                        src="{{ s.selfie.photo.url }}"></a>
            {% endfor %}
        </div>
    </div>

{% endblock body %}