{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12"><img class="new-img" style="min-width: 40%; max-width: 600px" src="{{ selfie.photo.url }}"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
        tags:
            {% for t in selfie.tags.all %}
                {{ t.tag }}{% if forloop.counter != selfie.tags.count %},{% endif %}
            {% endfor %}
        </div>
    </div>

    <br>
    <div class="row" style="max-height: 10%">
        <div class="col-sm-2"> <h2>lasts matches: </h2> </div>
        <div class="col-sm-10">
            {% for s in lasts %}
                <a href="{% url 'selfzone:details' s.selfie.id %}"><img
                        class="last-img pull-left" style="background:{{ s.color }};"
                        src="{{ s.selfie.photo.url }}"></a>
            {% endfor %}
        </div>
    </div>

{% endblock body %}