{% extends 'base.html' %}

{% block body %}

  <div class="container-fluid">

      {% if old1 and old2 %}
        <div class="row" style="padding-left: 10px; padding-right: 10px;">
            <div class="col-xs-3"><a href="{% url 'selfzone:details' old1.id %}">
                <img src="{{ old1.photo.url }}" class="old-img"
                {% if voted == "left" %} style="background: green" {% endif %}></a></div>
            <div class="col-xs-3"><h3>{{ old1.won }}/{{ old1.loss }}</h3></div>
            <div class="col-xs-3"><h3>{{ old2.won }}/{{ old2.loss }}</h3></div>
            <div class="col-xs-3"><a href="{% url 'selfzone:details' old2.id %}">
                <img src="{{ old2.photo.url }}" class="old-img"
                {% if voted == "right" %} style="background: green" {% endif %}></a></div>
        </div>
      {% endif %}

      <div class="row" style="height: 20px"></div>

      <div class="row" style="max-height: 50%; min-height: 100px">
        <div class="col-sm-6">
            <div class="row">
                <a href="{% url 'selfzone:vote' s1.id s2.id "left" %}">
                <img class="new-img" src="{{ s1.photo.url }}"></a>
            </div>

            <div class="row">
                <h2>{{ s1.info }}</h2>
            </div>

            <div class="row text-primary">
                <h2>@{{ s1.user }}</h2>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <a href="{% url 'selfzone:vote' s1.id s2.id "right" %}">
                <img class="new-img" src="{{ s2.photo.url }}"></a>
            </div>

            <div class="row">
                <h2>{{ s2.info }}</h2>
            </div>

            <div class="row text-primary">
                <h2>@{{ s2.user }}</h2>
            </div>
        </div>
      </div>

  </div>
{% endblock body %}
