{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row" style="margin: 20px">
        <div class="col-md-6">

            <h2>Bests</h2>
            <div class="best-stat">

            <h3>All time</h3>
            {% for b in allTimeBest %}
                <a href="{% url 'selfzone:details' b.id %}">
                <img class="stat-img" style="width: calc(30% - {{ forloop.counter0 }}*5%)" src="{{ b.photo.url }}"></a>
            {% endfor %}

            <a href="{% url 'selfzone:top' "" %}">
                <img  class="stat-img" style="width: 15%" src="{% static 'selfzone/images/nophoto.png' %}">
            </a>

            <h3>Today</h3>
            {% for b in todayBest %}
                <a href="{% url 'selfzone:details' b.id %}">
                <img class="stat-img" style="width: calc(30% - {{ forloop.counter0 }}*5%)" src="{{ b.photo.url }}"></a>
            {% endfor %}

            <a href="{% url 'selfzone:top' "" %}">
                <img  class="stat-img" style="width: 15%" src="{% static 'selfzone/images/nophoto.png' %}">
            </a>

            <h3>Week</h3>
            {% for b in weekBest %}
                <a href="{% url 'selfzone:details' b.id %}">
                <img class="stat-img" style="width: calc(30% - {{ forloop.counter0 }}*5%)" src="{{ b.photo.url }}"></a>
            {% endfor %}

            <a href="{% url 'selfzone:top' "" %}">
                <img  class="stat-img" style="width: 15%" src="{% static 'selfzone/images/nophoto.png' %}">
            </a>

            </div>
        </div>

        <div class="col-md-6">

            <h2>Worst</h2>
            <div class="worst-stat">

            <h3>All Time</h3>
            <a href="{% url 'selfzone:top' "" %}">
                <img  class="stat-img" style="width: 15%" src="{% static 'selfzone/images/nophoto.png' %}">
            </a>

            {% for b in allTimeWorst %}
                <a href="{% url 'selfzone:details' b.id %}">
                <img class="stat-img" style="width: calc(15% + {{ forloop.counter }}*5%)" src="{{ b.photo.url }}"></a>
            {% endfor %}

            <h3>Today</h3>
            <a href="{% url 'selfzone:top' "" %}">
                <img  class="stat-img" style="width: 15%" src="{% static 'selfzone/images/nophoto.png' %}">
            </a>

            {% for b in todayWorst %}
                <a href="{% url 'selfzone:details' b.id %}">
                <img class="stat-img" style="width: calc(15% + {{ forloop.counter }}*5%)" src="{{ b.photo.url }}"></a>
            {% endfor %}

            <h3>Week</h3>
            <a href="{% url 'selfzone:top' "" %}">
                <img  class="stat-img" style="width: 15%" src="{% static 'selfzone/images/nophoto.png' %}">
            </a>

            {% for b in weekWorst %}
                <a href="{% url 'selfzone:details' b.id %}">
                <img class="stat-img" style="width: calc(15% + {{ forloop.counter }}*5%)" src="{{ b.photo.url }}"></a>
            {% endfor %}

            </div>
        </div>
    </div>

{% endblock body %}