{% extends 'base.html' %}
{% load mathfilters %}

{% block body %}

    <a href="{% url 'selfzone:top' "50" %}">
        <button type="button" class="self-btn" style="margin: 20px">Top 50</button>
    </a>

    <a href="{% url 'selfzone:top' "100" %}">
        <button type="button" class="self-btn" style="margin: 20px">Top 100</button>
    </a>

    <a href="{% url 'selfzone:top' "200" %}">
        <button type="button" class="self-btn" style="margin: 20px">Top 200</button>
    </a>

    <br><br>

    <div class="top-photos">
    {% for s in list %}
    <a href="{% url 'selfzone:details' s.id %}">
        <figure>
            <img src="{{ s.photo.url }}">
            <div class="status-bar">
                <div class="win-bar" style="width:calc({{s.w}}% + 1px)"></div>
                <div class="loss-bar" style="width:calc({{ s.w | add:-100 | abs }}% + 1px)"></div>
            </div>
        </figure>
    </a>
    {% endfor %}
    </div>
{% endblock %}