{% extends 'selfzone/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block head %}

    <script src="{% static 'selfzone/js/jquery.min.js' %}"></script>
    <script src="{% static 'selfzone/js/jquery.Jcrop.js' %}"></script>

    <link rel="stylesheet" href="{% static 'selfzone/css/jquery.Jcrop.css' %}" type="text/css" />

{%  endblock %}


{% block body %}

    <form enctype="multipart/form-data" method="post" id="upload">
    {% csrf_token %}
        <p><div class="fakeFileButton"><span id="browse">click to load selfie</span>{{ form.photo }}</div></p>
        <div style="margin: 10px auto; max-width: 50%; overflow: hidden">
            <img src="{% static 'selfzone/images/nophoto.png' %}" id="target" style="display: block; width: 100%; margin: auto"/>
        </div>
        <p> {{ form.info |add_class:"input-lg" |attr:"placeholder:picture description" |attr:"cols:20" |attr:"rows:3" |attr:"wrap:hard" |set_data:"limit-rows:true"}} </p>

        <input class="hidden" type="text" size="4" id="x1" name="x1" />
        <input class="hidden" type="text" size="4" id="y1" name="y1" />
        <input class="hidden" type="text" size="4" id="x2" name="x2" />
        <input class="hidden" type="text" size="4" id="y2" name="y2" />

    <input type="submit" value="Submit" class="self-btn"/>
    </form>

    <script type='text/javascript'>
        var input = document.getElementById('id_photo');
        var jcrop_api;

        input.onchange = function () {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    t = $('#target');

                    t.attr('src', e.target.result);
                    var w = t[0].naturalWidth;
                    var h = t[0].naturalHeight;
                    l = 0;
                    if(w > h) {
                        l = h;
                    } else {
                        l = w;
                    }

                    jQuery(function($){
                        // How easy is this??
                        $('#target').Jcrop({
                            setSelect:   [ (w-l)/2, (h-l)/2, l, l ],
                            aspectRatio: 1,
                            allowResize: false,
                            onSelect: showCoords,
                            onChange: showCoords,
                            trueSize: [ w, h ]
                        }, function(){
                            jcrop_api = this;
                        });
                    });
                };

                reader.readAsDataURL(input.files[0]);
            }
        };

        // Simple event handler, called from onChange and onSelect
        // event handlers, as per the Jcrop invocation above
        function showCoords(c)
        {
            jQuery('#x1').val(c.x);
            jQuery('#y1').val(c.y);
            jQuery('#x2').val(c.x2);
            jQuery('#y2').val(c.y2);
            jQuery('#w').val(c.w);
            jQuery('#h').val(c.h);
        };
    </script>


{% endblock body %}