{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" type="text/css" href="{% static 'selfzone/style.css' %}" />
        {% block head %}
            <title>Selfzone</title>
        {% endblock head %}
    </head>
    <body>

    <div class="back-container">

        {% block header %}
            <div class="row row-same-height" style="min-width: 400px;">
              <div class="row-same-height">

                <div class="col-sm-4 col-sm-height"></div>
                <div class="col-sm-4 col-sm-height" style="padding-bottom: 20px">
                    <h1 class="self-title">Selfzone</h1>
                </div>
                <div class="col-sm-4 col-sm-height" style="display:inline-block;">
                    {% if not user.is_authenticated and request.path|slice:":6" != "/login" %}
                        <a href="{% url 'portal:portal_welcome' %}">
                            <button type="button" class="self-btn">Sign in</button>
                        </a>
                    {% endif %}
                </div>
              </div>
            </div>
        {% endblock header %}

        {% block body %} {% endblock body %}

    </div>
    </body>
</html>