.back-container {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;

    min-width: 400px;
    max-width: 800px;
    background-color: #333;

    box-shadow: 10px 0 10px #333, -10px 0 10px #333;
    height: auto;
    min-height: 100%;
}

.new-img {
    display: block;
    width: 85%;
    height: auto;

    background: #2c2c2c;
    border-radius: 10%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 0 auto;
}

.new-img:hover {
    box-shadow: 0 0 40px rgba(218, 0, 186, 1);
}

.old-img {
    display: block;
    width: 30%;
    height: auto;
    min-width: 70px;

    background: red;
    border-radius: 10%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    padding: 5px;
    margin: 0 auto;
}

.last-img {
    display: block;
    width: 9%;
    height: auto;
    min-width: 50px;
    margin:0.3%;

    border-radius: 10%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    padding: 5px;
}

.self-title {
	font-family: Lobster;
	font-style: normal;
	font-variant: normal;
    font-size: 65px;
    color: #232323;
    text-shadow: 2px 0 0 #740066, -2px 0 0 #740066, 0 2px 0 #740066, 0 -2px 0 #740066, 1px 1px #740066,
                -1px -1px 0 #740066, 1px -1px 0 #740066, -1px 1px 0 #740066,
                4px 4px 4px #da00ba;

}

.self-btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #333;
    font-size: 20px;
    color: #da00ba;
    border-radius: 20%;
    border: 4px solid #da00ba;
	font-family: Lobster;
    text-shadow: 2px 0 0 #232323, -2px 0 0 #232323, 0 2px 0 #232323, 0 -2px 0 #232323, 1px 1px #232323,
            -1px -1px 0 #232323, 1px -1px 0 #232323, -1px 1px 0 #232323;

    box-shadow: 0 4px 4px 0 #232323, 0 4px 4px 0 #232323;
    overflow: hidden;
    white-space: nowrap;
}

.self-btn:hover {
    background-color: #740066;
}

.self-input {
    color: #333333;
    border-radius: 10px;
}

/* columns of same height styles */
.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}
@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #ab008f,
    #ab008f 10px,
    #333 10px,
    #333 20px
  );
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}